﻿@model SchoolManagement.ViewModel.MarkVM

<style>
    .row {
        padding: 10px
    }
</style>

<div class="form-horizontal">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Dept_Id)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Dept_Id, new { htmlAttributes = new { @class = "form-control reset", @id = "txtDeptId" } })
                    @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Subject_Id)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Subject_Id, new { htmlAttributes = new { @class = "form-control reset", @id = "txtsubid" } })
                    @Html.ValidationMessageFor(model => model.Subject_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Marks)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Marks, new { @class = "form-control reset", @id = "txtMarks" })
                    @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Student_id)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Student_id, new { @class = "form-control reset", @id = "txtDeptID" })
                    @Html.ValidationMessageFor(model => model.Student_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CreatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control reset", @id = "txtCreatedBy" })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.UpdatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control reset", @id = "txtUpdatedBy" })
                    @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

