﻿
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script>
    $(document).ready(function () {
        S
    });

    function BacktoIndex() {
        window.location.href = '@Url.Action("Index","Mark")'
    }
</script>

@using (Html.BeginForm("Edit", "Mark", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row col-md-12">
            <div style="padding:10px;">
                <button type="button" class="btn btn-warning" id="btnBack" onclick="return BacktoIndex();">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                </button>
            </div>
            <div>
                @{Html.RenderPartial("_Form");}
            </div>
            <div style="padding:10px;">
                <button type="submit" class="btn btn-success" id="btnSubmit">
                    <i class="glyphicon glyphicon-ok"></i> Submit
                </button>
            </div>
        </div>
    </div>
}

