﻿@model SchoolManagement.ViewModel.MarkVM
@{
    ViewBag.Title = "Index";
}

<h2>MarkList</h2>

<script>
    $(document).ready(function () {
        $('.editBtn').click(function () {
            var Id = parseInt($(this).attr('id'))

            window.location.href = '@Url.Action("Edit", "Mark")' + '/' + Id;

        });

        $('.deleteBtn').click(function () {
            var Id = parseInt($(this).attr('id'))

            $.ajax({
                url: '@Url.Action("Delete", "Mark")',
                type: 'POST',
                data: '{Id: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                   window.location.href = '@Url.Action("Index", "Mark")';

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);
                }
            });


        });
    });

</script>

<style>
    .padCont {
        padding: 10px;
    }
</style>


<div class="container">
    <div class="row page-header">
        <div>
            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("Create", "Mark")'">
                <i class="glyphicon glyphicon-plus"></i> Create
            </button>
        </div>
    </div>
    <div class="row page-header">
        <div>
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Student_id)
                
                    @Html.EditorFor(model => model.Student_id, new { @class = "form-control reset", @id = "txtDeptID" })
                    @Html.ValidationMessageFor(model => model.Student_id, "", new { @class = "text-danger" })
              
                    <button class="btn btn-primary padCont" type="submit" onclick="window.location.href = '@Url.Action("GetByStudentId", "Mark")'">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="row">
            <div id="Studtable">
                <table class="table" style="background-color:white;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dept_ID</th>
                            <th>Subject_ID</th>
                            <th>Student_ID</th>
                            <th>Marks</th>
                            <th>CreatedBy</th>
                            <th>UpdatedBy</th>
                            <th>CreatedDate</th>
                            <th>UpdatedDate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.MarkList)
                            {
                                <tr>
                                    <td>#@item.ID</td>
                                    <td>@item.Dept_Id</td>
                                    <td>@item.Subject_Id</td>
                                    <td>@item.Marks</td>
                                    <td>@item.Student_id</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.UpdatedBy</td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.UpdatedDate.ToString("dd/MM/yyyy")</td>

                                    <td>
                                        <span class="btn btn-info padCont editBtn" id="@item.ID"><i class="glyphicon glyphicon-edit"></i> Edit</span>
                                        <span class="btn btn-danger padCont deleteBtn" id="@item.ID"><i class="glyphicon glyphicon-trash"></i> Delete</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

