﻿@model SchoolManagement.ViewModel.StudentDetailVM

<style>
    .row {
        padding: 10px
    }
</style>

<div class="form-horizontal">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control reset", @id = "txtName" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.DOB)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control reset", @id = "txtDOB" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Image)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Image, new { type = "file", htmlAttributes = new { @class = "form-control reset", @id = "txtImage" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Gender)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control reset", @id = "txtGender" } })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control reset", @id = "txtAddress" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.FatherName)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control reset", @id = "txtFatherName" } })
                    @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.MobileNo)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control reset", @id = "txtMobileNO" })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control reset", @id = "txtEmail" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Dept_Id)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Dept_Id, new { @class = "form-control reset", @id = "txtDeptID" })
                    @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CreatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control reset", @id = "txtCreatedBy" })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.UpdatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control reset", @id = "txtUpdatedBy" })
                    @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
