﻿@model SchoolManagement.ViewModel.UserDetailVM

<style>
    .row {
        padding: 10px
    }
</style>

<div class="form-horizontal">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control reset", @id = "txtName" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Gender)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control reset", @id = "txtGender" } })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Designation)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control reset", @id = "txtDesignation" } })
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control reset", @id = "txtAddress" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.MobileNo)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control reset", @id = "txtMobileNO" })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control reset", @id = "txtEmail" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control reset", @id = "txtPassword" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CreatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control reset", @id = "txtCreatedBy" })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.UpdatedBy)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control reset", @id = "txtUpdatedBy" })
                    @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>