﻿@model SchoolManagement.ViewModel.UserDetailVM
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<style>
    body{
        align-items: center;
       margin-left:30%;
        color:white;
    }
   
     
    a{
        color: white;
        margin-left:15px;
    }
</style>

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="body">

    <div class="col-md-12 form-group row">
        <div class="col-md-4">
            <div class="col-sm-4 col-form-label">
                @Html.LabelFor(model => model.Email, "Email")
            </div>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control-plaintext", @id = "txtEmail" } })
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group row">
        <div class="col-md-4">
            <div class="col-sm-4 col-form-label">
                @Html.LabelFor(model => model.Password, "Password")
            </div>
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.Password, new { type="password", htmlAttributes = new { @class = "form-control-plaintext", @id = "txtPassword" } })
            </div>
        </div>
    </div>

        <div style="padding:10px;">
            <button class="btn btn-primary padCont" type="submit" style="margin-left:40px;">
                Submit
            </button>
        </div>
        <div>
            <a onclick="window.location.href = '@Url.Action("Create", "User")'" style="cursor:pointer; margin-top:20px;">New User? Register Here</a>
        </div>
    </div>
}
