﻿@model SchoolManagement.ViewModel.TeacherVM
@{
    ViewBag.Title = "Index";
}

<h2>Teacher List</h2>

<script>
    $(document).ready(function () {
        $('.editBtn').click(function () {
            var Id = parseInt($(this).attr('id'))

            window.location.href = '@Url.Action("Edit", "Teacher")' + '/' + Id;

        });

        $('.deleteBtn').click(function () {
            var Id = parseInt($(this).attr('id'))

            $.ajax({
                url: '@Url.Action("Delete", "Teacher")',
                type: 'POST',
                data: '{Id: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                   window.location.href = '@Url.Action("Index", "Teacher")';

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);
                }
            });


        });
    });

</script>

<style>
    .padCont {
        padding: 10px;
    }
</style>


<div class="container">
    <div class="row page-header">
        <div>
            <button class="btn btn-primary padCont" type="button" onclick="window.location.href = '@Url.Action("Create", "Teacher")'">
                <i class="glyphicon glyphicon-plus"></i> Create
            </button>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="row">
            <div id="Studtable">
                <table class="table table-hover table-condensed"  style="background-color:white;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>MobileNo</th>
                            <th>Email</th>
                            <th>Subject ID</th>
                            <th>CreatedBy</th>
                            <th>UpdatedBy</th>
                            <th>CreatedDate</th>
                            <th>UpdatedDate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.TeacherList)
                            {
                                <tr>
                                    <td>#@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.DOB.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Address</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.Email</td>
                                    <td>@item.Subject_Id</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.UpdatedBy</td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.UpdatedDate.ToString("dd/MM/yyyy")</td>

                                    <td>
                                        <span class="btn btn-info padCont editBtn" id="@item.ID"><i class="glyphicon glyphicon-edit"></i> Edit</span>
                                        <span class="btn btn-danger padCont deleteBtn" id="@item.ID"><i class="glyphicon glyphicon-trash"></i> Delete</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


